<!--on index make sure to make link active links: active -->

  <header>
       <nav class="dropdownmenu">
          <ul>
  		  <li class="{{ page.home }}"><a href="/" title="Home">Home</a></li>
         	<li class="{{ page.blog }}"><a href="/blog" title="Blog">Blog</a></li>
			<li class="{{ page.link }}"><a href="/link" title="Link">Link</a></li>
			<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
			<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
			<!-- <li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li> -->
			<!-- <li class="{{ page.tags }}"><a href="/tags" title="Tags">Tags</a></li> -->

         </ul>
      </nav>
    </header>

<!-- 
<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.blog }}"><a href="/blog" title="Blog">Blog</a></li>
		<li class="{{ page.link }}"><a href="/link" title="Link">Link</a></li>
		<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="{{ site.url }}">Home</a></h3>
</div> 
-->
<!-- /header -->
