<!DOCTYPE html>
<html lang="en">
	{% include head.html %}	

	<body>
		{% include menu.html %}

    
    <div class="main">
<div class="container">

			{{ content }}
    </div>
</div>	
<!-- Nav bar -->
<aside class="sidenav">
      	<h1>Recent Posts</h1>
		{% for post in site.posts limit:5 %}
		  <ul class="sidenavlist list-unstyled">
			  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
			</ul>
		{% endfor %}
 </aside>		
		{% include footer.html %}	
		{% include scripts.html %}
	
</body>

</html>

  
 